/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fonte padrão */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
  }
  
  /* Ajustes de links */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: #0070f3;
  }
  